<p>
  Hi, <%= @seller.first_name %> <%= @seller.last_name %>
</p>

<p>Bidding Start on
  <a href="<%=
    "#{Rails.configuration.ui_server_url}/item/#{@item.id}"
  %>"><%= @item.name %></a>. Open this link to bid</p>
